/* CSS declarations go here */
td.devName {
  cursor: pointer;
}

p.bg-info {
  padding: 6px;
}

.loginLink {
  padding-top: 15px;
}

.img-center {
	margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.fb-bg {
background-color: #3B5998;
}
.tw-bg {
background-color: #55ACEE;
}
.gplus-bg {
background-color: #DD4B39;
}
footer.page-footer a {
line-height: 25px;
}

footer.page-footer a {
color: #fff;
font-size: 15px;
}

nav {
	/* Anciens navigateurs */
	background: green url("nav-bg.png") repeat-y left;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs récents */
	background: -webkit-gradient(
		linear,
		left top, right top,
		from(red),
		to(green),
		color-stop(0.5, gold)
	);
	background: -webkit-linear-gradient(
		left,
		red,
		gold 50%,
		green
	);
	background: -moz-linear-gradient(
		left,
		red,
		gold 50%,
		green
	);
	background: -o-linear-gradient(
		left,
		red,
		gold 50%,
		green
	);
	background: linear-gradient(
		left,
		red,
		gold 50%,
		green
	);
}

.btn {
    background: orangered;
}

.devName > img {
    box-shadow: '0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)';
}