<body>
   

</body>


<template name="index">
  <div class="container">
    <div class="page-header">
      <h1><span class="fa fa-thumbs-up"></span> Welcome to DevRank!</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
      {{> listedevs listeTitle="Nos développeurs :"}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{> footer}}
      </div>
    </div>

  </div>    
</template>


<template name="vote">
  <div class="container">
    <div class="page-header">
      <h1><span class="fa fa-thumbs-up"></span> Welcome to DevRank!</h1>
    </div>
      
    <div class="row">
      <div class="col-md-12">
      {{> listedevs listeTitle="Nos développeurs :"}}
      </div>
    </div>
    
      <div class="row">
          {{> voteDev }}
      </div>
      
      <div class="row">
          {{ > formDev }}
      </div>    
      
    <div class="row">
      <div class="col-md-12">
        {{> footer}}
      </div>
    </div>

  </div> 
</template>


<template name="auth">
    <div class="container">
        <div class="row">
            {{ > atForm }}    
            
        </div>
    </div>
</template>