<template name="layout1">
    {{ > Template.dynamic template=nav}}
    {{ > Template.dynamic template=main}}
</template>

<template name="navigation">
    <nav>
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right">
            <li class="{{ isActiveRoute name='home' }}"><a href="/">Index</a></li>
            
            {{#unless currentUser}}
            <li class="{{ isActiveRoute name='signIn'}}"><a href="/sign-in">S'identifier</a></li>
            {{else}}
            <li class="{{ isActiveRoute name='vote' }}"><a href="/vote">Votes</a></li>            
            <li class="{{isActiveRoute name='signOut'}}"><a href="{{pathFor 'signOut'}}">Se déconnecter</a></li>
            {{/unless}}
        </ul>
    </nav>
</template>