<template name="listedevs">
    <p class="bg-info">
        <span class="fa fa-info-circle"></span> {{getDevsCount}}
    </p>
    <p class="bg-info">
        <span class="fa fa-info-circle"></span> {{getVotesCount}}
    </p>
    {{#if currentUser}}
    <p class="bg-info">
        <span class="fa fa-info-circle"></span> {{countVoteUser}}
    </p>
    {{/if}}

    <div class="container">
        <div class="row">

            {{#each getDevs}}
            {{#if hasVotes votes}}

            <div class="col-lg-4 col-sm-6 text-center devName">
                <img class="img-circle img-responsive img-center hoverable" src="http://mdbootstrap.com/MDB/live/Simple%20team%20presentation/img/user.png" alt="">
                <h3>{{name}}</h3>
                <small>{{votes}} Vote(s)</small>
            </div>
            {{else}}
            <div class="col-lg-4 col-sm-6 text-center devName">
                <img class="img-circle img-responsive img-center hoverable" src="http://mdbootstrap.com/MDB/live/Simple%20team%20presentation/img/user.png" alt="">
                <h3>{{name}}</h3>
                <small>Aucun vote</small>
            </div>

            {{/if}}
            {{/each}}
        </div> 

    </div>
</template>

<template name="displaydev">
    <tr class="{{stateClass}}">
        {{> Template.contentBlock}}
    </tr>
</template>


<template name="voteDev">
    <div class="well text-center">
        <button class="voteBtn btn btn-success">Voter pour le dev sélectionné</button>
    </div>    
</template>

<template name="formDev">
    <h2><button class="addBtn btn btn-success">Ajouter un développeur</button></h2>

    <div class="addForm hidden">
        <hr />
        <form class="form-inline" id="newDevForm">
            <div class="form-group">
                <label for="devNameInput">Développeur :</label>
                <input type="text" name="devNameInput" id="devNameInput" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Ajouter</button>
            <button type="reset" class="cancelBtn btn btn-danger">Annuler</button>
        </form>
        <hr />
    </div>    
</template>